# Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/


# Project-specific

# Dynamic files
media/

# Local DB
db.sqlite3

# Individual settings
local_settings.py
